 <!doctype html>

<html>
    <head>
        <title>Accessibility Index</title>
    </head>

    <body>
        <h1>Accessibility Index</h1>
        <form name="htmlform" method="post" action="html_form_send.php">
        
            <label for="name">What's the school called?
                <input id="name_field" type="text" name="name">
            </label>
            
            <br><br>
            <label for="access_pulldown">What's your overall rating of the school's accessibility?
                <select id="access_field" name="access_name">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </label>
            <br><br>
            <input type="submit" value="submit">
        </form>
        
        <br><br>
        <!-- <a href="home.html">go back</a> -->
        
    </body>

</html>