{% extends "layout.html" %}
{% block content %}



<div class="col s12">
      <div class="card light-green lighten-2">
        <div class="card-content white-text center-align">
          <span class="card-title"> <h4> Welcome to Accessibility Index </h4> </span>
          <p># of schools: {{num_of_schools}} </p> <br>
<!--  <button class="btn waves-effect blue lighten-2 " onclick="location.href='/SubmitReviewMain'"> Add Your Own Review! </button> -->

          </div>
        </div>
</div>
<div class="col s12" style = "padding-bottom:5%;">
    <div class="card teal lighten-3">
        <div class="card-content white-text center-align">
            <span class="card-title"> Featured School: <br> {{school_name}}  <br> </span>
                <p> overall: {{overall_rating}} </p>
                <p> physical: {{physical_rating}} </p>
                <p> academic: {{academic_rating}} </p>
                <p> resources: {{resources_rating}} </p> <br>
        </div>
    </div>
  </div>
<br>
<br>

{% endblock %}
