{% extends "layout.html" %}

{% block content %}
<input type="button" value="Go Back" onclick="history.back()"></input>
<input type="button" value="Go Forward" onclick="history.forward()"></input>
<h2 align = "middle"> {{College}} </h2>
<table>
	<tr>
		<td> Physical Campus Accessibility: </td>
		<td> Academic Accomodations: </td>
	</tr>
	<tr>
		<td> <select class="browser-default" id="PhysicalCampus">
			{% for physical campus things in PhysicalCampus %}
				<option> {{physicalcampus}} </option>
			{% endfor %}
		
		</select>  <br><button onclick='GoToPhysicalCampus(document.getElementById("AllPhysicalCampus"));'> Search </button></td>
		<td> <select id = "AllColleges">
			{% for colleges in Colleges %}
				<option> {{college}} </option>
			{% endfor %}
		
		</select>  <br><button onclick = 'IframeTeacherSearch(document.getElementById("AllTeachers"));'> Search </button></td> 
	</tr>
	<tr>
	</tr>
	<tr>
	</tr>
</table>

{% endblock %}
