<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	        <title>College Accessibility Index</title>
	        <meta name="description" content="Search for classes, view professors, and rate them all in a complete website for setting your Notre Dame class schedule">
	        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainCSS.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
    <div class = "navbar-fixed" >
	<nav class="blue lighten-2">
		<div class="nav-wrapper" style = "padding-left:5em;">
		    <a href="/" class="brand-logo left">College Accessibility Index</a>
			<a href="#" data-activates="mobile-nav" class="right button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down" style = "padding-left: 15%;" >
				<li><a href="/SubmitReviewMain">View/Submit Reviews</a></li>
				<li><a href="/college_search/">Search Colleges</a></li>
				<li><a href="/DepartmentsMain/">About Us</a></li>
				<!-- <li><a href="/Textbooks/">Buy/Sell Textbooks</a></li> -->
				<li style = "width :15%;">
					<form id="searchForm">
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
						</div>
					</form>
				</li>
			</ul>
			<ul class="side-nav blue lighten-3 " id="mobile-nav">
				<li><a href="/SubmitReviewMain">View/Submit Reviews</a></li>
				<li><a href="/class_search/">Search Colleges</a></li>
				<li><a href="/DepartmentsMain/">About</a></li>
				<!-- <li><a href="/Textbooks/">Buy/Sell Textbooks</a></li> -->
            </ul>
		</div>
		<div id="SearchResults" class="row" spellcheck="false">
		<ul class="collection col s4 offset-s8" id="ResultList" style="display:None;">
		</ul>
		</div>
	</nav>
	</div>


	<div style = "padding: 5%">
		<div class = "card teal lighten-3">
		<div class = "card-content white-text center-align">
			<span class ="card-title">
			"Featured College:" 
			<h4 id = "featNAME"></h4>
			<p>Overall rating: <span id = 'featCLGOVRL'></span></p>
			<p>Physical Campus: <span id= 'featCLGPHYS'></span><p>
			<p>Academic Support: <span id = 'featCLGAC'></span></p>
			<p> Resources: <span id = 'featCLGRES'></span></p>
			<br>
		<a class ="btn waves-effect blue lighten-2" href="/CollegeReviewForm/Wellesley"> Review this College! </a>
		<table>
			<tbody>
				<tr><tr>
			</tbody>
		</table>
		</div>
		</div>
<div class = 'card lighten-2 recent_reviews col s12'>
	<h3 align "center"> Recent College Reviews </h3>
	<table class = "striped centered resposnive-table">
		<thread>
			<tr>
				<th data-field = "college_name"> College Name:</th>

				<th data-field = "overall grade"> Overall Grade</th> 
				<th data-field = "college_name"> Physical Campus Accessibility</th> 
				<th data-field = "college_name"> Academic Curriculum</th>
				<th data-field = "college_name"> Student Resources :</th> 
			</tr>
		</thread>
		<tbody id = "recent">
		</tbody>
		</table>
			

	</div>
	<br>
	<br>
	</div>

	<footer class="page-footer blue lighten-2">
		<div class="container">
			<div class="row">
				<div class="col s12">
				</div>
			</div>
		</div>

	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	<script src= "../static/JS/JSscripts.js"></script>
	<script src= "../static/JS/searchAjax.js"></script>
	<script src= "../static/JS/formAjax.js"></script>
	<script src= "schoolgenerator.js"></script>
	</body>
</html>
